* {
    background-color: lightcyan;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.card {
    width: 40%;
    margin: 0 auto; 
    padding: 20px; 
    border: 2px solid #000; 
    border-radius: 10px; 
    padding-bottom: 3rem;
}